html {
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
    font-size: 16px;
}
body {
    width: 70%;
    margin: auto;
}

.cursive {
    font-family: "Pacifico", cursive;
    color: darkorange;
}

.title {
    font-size: 1.7rem !important;
}

.subtitle {
    font-size: 1.3rem;
    font-weight: 300;
}

.display_md {
    display: unset;
}

.display_sm {
    display: none;
}

header p {
    font-weight: 400;
    padding: 10px 0;
}

#topMenu a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 5px;
}

#topMenu a:hover {
    color: black;
    border: 1px solid black;
}

#topMenu a.button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid black;
}

#topMenu a.button:hover {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
}

.bottompadding {
    padding-bottom: 20px;
}

footer img {
    width: 20px;
    border-radius: 5px;
}


footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-top: 1px solid grey;
    padding: 30px 0;
    margin-bottom: 30px;
}

#leftFooter {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

#rightFooter {
    width: 40%;
}

table {
    width: 100%;
}

tr {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 5px 0;
}

#rightContainer {
    display: grid;
    gap: 10px;
}

.gridImage {
    border: 1px solid orange;
    border-radius: 10px;
    overflow: hidden;
}

.gridImage img {
    width: 100%;
    height: 100%;
}

.gridImage:hover, .externalWebsiteLink img:hover {
    transform: scale(1.02);
    transition: .8s ease-out;
}

.externalWebsiteLink {
    padding: 5px;
    display: inline-block;
}
